/*	DOM ELEMENTS	*/
body {
	padding-top:50px;
	background-color:#F8F8F8;
}

/*	SIDEBAR ELEMENTS	*/
div#fixed-sidebar {
	position: fixed;
}

#aside {
	padding-top: 5px;
}

div#bottombox {
	padding: 12px 20px;
	background: #dadad9;
	color:#b9b9b9;
	text-align: right;
}

div.info {
	margin-left: 30px;
}

h2.aside-title {
	margin-left:30px;
}

ul.side-navigation {
	padding-left: 30px;
}

.side-navigation li {
	list-style: none;
	margin-bottom:10px;
}

.side-navigation li a {
	text-decoration: none;
	background-image: url(../images/arrows.png);
	background-repeat: no-repeat;
	padding: 5px 10px 5px 20px;
	display: block;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	color: #4e4f4f;
}

.side-navigation li a:hover{
	background-image:url(../images/arrows_hover.png)	
}

.side-navigation li a.active{
	background-image:url(../images/arrows_hover.png)	
}

.side-navigation li a.entertainment{ 
	background-position:7px 8px;
}

.side-navigation li a.entertainment:hover, .side-navigation li a.entertainment.active{ 
	background-color:#d65154; 
	color:#fff;
}

.side-navigation li a.politics{ 
	background-position:7px -48px;
}

.side-navigation li a.politics:hover,.side-navigation li a.politics.active{
	background-color:#655aa7; 
	color:#fff;;
}

.side-navigation li a.sports{ 
	background-position:7px -103px;
}

.side-navigation li a.sports:hover,.side-navigation li a.sports.active{ 
	background-color:#8cc63f; 
	color:#fff;
}

.side-navigation li a.eduTech{ 
	background-position:7px -159px;
	
}

.side-navigation li a.eduTech:hover, .side-navigation li a.eduTech.active{ 
	background-color:#5583c3; 
	color:#fff;
	
}

.side-navigation li a.business{ 
	background-position:7px -214px;
	
}

.side-navigation li a.business:hover, .side-navigation li a.business.active{ 
	background-color:#aeaeae; 
	color:#fff;
	
}

.side-navigation li a.lifestyle{ 
	background-position:7px -269px;
}

.side-navigation li a.lifestyle:hover, .side-navigation li a.lifestyle.active{ 
	background-color:#e97f4b; 
	color:#fff;
	
}

.side-navigation li a.news{ 
	background-position:7px -326px;
	
}

.side-navigation li a.news:hover, .side-navigation li a.news.active{ 
	background-color:#000; 
	color:#fff;	
}

/*	NAV ELEMENTS	*/
.navbar-default {
	background-color: #FFF;
	border-color: #e7e7e7;
}

.navbar-form {
	padding-left: 0;
}

.actions {
	margin-top: 12px;
	border-left: 1px solid #d0d0cf;
}

ul.actions>li {
	padding-right: 11px;
}

ul.actions {
	padding-left: 15px;
}

/*	IMG ELEMENTS / ICONS	*/
#search-icon {
	height:18px;
}

img.tree.pull-right {
	margin-top: 2px;
}

li > a.print{ 
	display:inline-block; 
	height:27px; 
	width:30px; 
	background:url(../images/icons.png) 0 0 no-repeat;
	margin-right: 15px; /*	SLOPPY MC SLOPERSON	*/
}

li > a.msg{ 
	display:inline-block; 
	height:29px; 
	width:16px; 
	background:url(../images/icons.png) -55px 0 no-repeat;
}

li > a.price{ 
	display:inline-block; 
	height:29px; 
	width:22px; 
	background:url(../images/icons.png) -97px 0 no-repeat;
}

li > a.setting{ 
	display:inline-block; 
	height:29px; 
	width:29px; 
	background:url(../images/icons.png) -146px 0 no-repeat;
}

/*	CONTENT ELEMENTS	*/
#content-wrap {
	min-height: 760px;
	background-color: #FFF;
}

/*	ARTICLE IMAGES & CONTENT	*/
img.article-images {
	width: 100%;
}

.container-element {
    display: inline-block;
    position: relative;
    margin:0;
    padding:0;
}

.container-element:after {
    content: '';
    display: block;
    margin-top: 100%;
}

.element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	content: '';
    display: block;
}

.list-article-content {
	height: auto;
	min-height: 25%;
	padding: 10px;
	color: #fff;
	white-space:normal;
	text-overflow: ellipsis;
	width: 100%;
	position: absolute;
	max-height: 100%;
}

.list-article-content.fill {
	height: 100%;
}

.list-article-image {
	background: #000;
	height: 75%;
	color: #fff;
	width: 100%;
	background:no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.vertical-top {
	top:0;
}

.vertical-bottom {
	bottom:0;
}

div.list-article-image.top {
	margin-top: 25%;
}

.full-height {
	height: 100% !important;
}

.list .box{ padding:0; font-size:13px; line-height:18px; position:relative; color:#fff; min-height:104px;margin-bottom:2px;}
.list .box .arrow-top{ position:absolute; top:-12px; left:45%; background:url(file:///images/blue-arrow-top.png) 0 0 no-repeat; z-index:9; display:block; height:12px; width:18px;}

.list .black,.list-article-content.black{ background:#000;}
.list .black a{color:#fff}
.list .black .arrow-top{ position:absolute; top:-11px; left:45%; background:url(file:///images/black-arrow-top.png) 0 0 no-repeat; z-index:9; display:block; height:11px; width:18px;}
.list .black .arrow-bottom{ position:absolute; bottom:-11px; left:45%; background:url(file:///images/black-arrow-bottom.png) 0 0 no-repeat; z-index:9; display:block; height:11px; width:18px;}
.list .black.greenSlider img.img_first{background-position:0 0}
.list .black.greenSlider img.img_second{background-position:-55px 0}
.list .black.greenSlider img.img_third{background-position:-110px 0}


.list .blue,.list-article-content.blue{ background:#5583c3;}
.list .blue a {color: #093B80;}
.list .blue .arrow-bottom{ position:absolute; bottom:-9px; left:45%; background:url(file:///images/blue-arrow-bottom.png) 0 0 no-repeat; z-index:9; display:block; height:10px; width:15px;}
.list .blue .arrow-right{ position:absolute; right:-12px; top:45%; background:url(file:///images/blue-arrow-right.png) 0 0 no-repeat; z-index:9; display:block; height:18px; width:12px;}
.list .blue.greenSlider img.img_first{background-position:0 -50px}
.list .blue.greenSlider img.img_second{background-position:-56px -50px}
.list .blue.greenSlider img.img_third{background-position:-110px -50px}

.list .green,.list-article-content.green{ background:#8cc63f;}
.list .green a {color: #425D1E;}
.list .green .arrow-top{ position:absolute; top:-11px; left:45%; background:url(file:///images/green-arrow-top.png) 0 0 no-repeat; z-index:9; display:block; height:11px; width:18px;}
.list .green .arrow-bottom{ position:absolute; bottom:-11px; left:45%; background:url(file:///images/green-arrow-bottom.png) 0 0 no-repeat; z-index:9; display:block; height:11px; width:18px;}
.list .green.greenSlider img.img_first{background-position:0 -100px}
.list .green.greenSlider img.img_second{background-position:-56px -100px}
.list .green.greenSlider img.img_third{background-position:-110px -100px}


.list .gray,.list-article-content.gray{ background:#aeaeae;}
.list .gray a {color: #5F5F5F;}
.list .gray .arrow-top{ position:absolute; top:-11px; left:45%; background:url(file:///images/gray-arrow-top.png) 0 0 no-repeat; z-index:9; display:block; height:11px; width:18px;}
.list .gray .arrow-bottom{ position:absolute; bottom:-11px; left:45%; background:url(file:///images/gray-arrow-bottom.png) 0 0 no-repeat; z-index:9; display:block; height:11px; width:18px;}
.list .gray.greenSlider img.img_first{background-position:0 -150px}
.list .gray.greenSlider img.img_second{background-position:-56px -150px}
.list .gray.greenSlider img.img_third{background-position:-110px -150px}


.list .orange,.list-article-content.orange{ background:#e97f4b;}
.list .orange a {color: #8D390F;}
.list .orange .orange-arrow-top{ position:absolute; top:-11px; left:45%; background:url(file:///images/orange-arrow-up.png) 0 0 no-repeat; z-index:9; display:block; height:11px; width:18px;}
.list .orange .orange-arrow-right{ position:absolute; right:-15px; top:45%; background:url(file:///images/orange-arrow-right.png) 0 0 no-repeat; z-index:9; display:block; height:15px; width:15px;}
.list .orange.greenSlider img.img_first{background-position:0 -200px}
.list .orange.greenSlider img.img_second{background-position:-56px -200px}
.list .orange.greenSlider img.img_third{background-position:-110px -200px}


.list .purple,.list-article-content.purple{ background:#655aa7;}
.list .purple a {color: #2B216B;}
.list .purple .arrow-top{ position:absolute; top:-11px; left:45%; background:url(file:///images/purple-arrow-top.png) 0 0 no-repeat; z-index:9; display:block; height:11px; width:18px;}
.list .purple .arrow-bottom{ position:absolute; bottom:-11px; left:45%; background:url(file:///images/purple-arrow-bottom.png) 0 0 no-repeat; z-index:9; display:block; height:11px; width:18px;}
.list .purple.greenSlider img.img_first{background-position:0 -250px}
.list .purple.greenSlider img.img_second{background-position:-56px -250px}
.list .purple.greenSlider img.img_third{background-position:-110px -250px}



.list .red,.list-article-content.red{ background:#d65154;}
.list .red a {color: #790003;}
.list .red .arrow-bottom{ position:absolute; bottom:-10px; left:45%; background:url(file:///images/red-arrow-bottom.png) 0 0 no-repeat; z-index:9; display:block; height:10px; width:15px;}
.list .red .arrow-left{ position:absolute; left:-10px; top:45%; background:url(file:///images/red-arrow-left.png) 0 0 no-repeat; z-index:9; display:block; height:15px; width:10px;}
.list .red.greenSlider img.img_first{background-position:0 -300px}
.list .red.greenSlider img.img_second{background-position:-56px -300px}
.list .red.greenSlider img.img_third{background-position:-110px -300px}


.news-top {
height: 20px;
}

.navbar-nav{float:right}
.marginRight4{margin-right:4px;}
.marginRight30{margin-right:30px;}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
