$blue: #5482C2;
$green: #8CC63E;
$red: #D55153;
$orange: #E97E4A;
$gray: #AEAEAE;
$black: #FFFFFF;
$purple: #655aa7;
$gutter: 2pt;

#content-wrap {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    padding-bottom: $gutter;
  }
}

.article {
  height: 380px;
  padding-right: $gutter;
  .image {
    min-height: 80%;
    background: none no-repeat scroll center center / cover  transparent;
  }
  .text {
    color: #ffffff;
    padding: 10px;
    margin-right: $gutter;
    &.blue { background-color: $blue; }
    &.green { background-color: $green; }
    &.orange { background-color: $orange; }
    &.red { background-color: $red; }
    &.gray { background-color: $gray; }
    &.black { background-color: $black; }
    &.purple { background-color: $purple; }
    max-height: 50%;
    left: 0; right: 0;
  }
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('fonts/proximanova-regular-webfont.woff') format('woff')
}

.container-element, .article {
  font-family: 'ProximaNovaRegular';

  // Arrows
  .list-article-content:after, .list-article-content:before { border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
  .text { position: absolute; }
  .text:after, .text:before { border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 

  &.up {
    .list-article-content { border-top: 2pt solid #fff; }
    .list-article-content:after, .list-article-content:before { bottom: 100%; left: 50%; } 
    .list-article-content:after { border-color: rgba(255, 255, 255, 0); border-width: 8pt; margin-left: -8pt; }
    .list-article-content:before { border-color: rgba(255, 255, 255, 0); border-bottom-color: #fff; border-width: 11pt; margin-left: -11pt; }
    .list-article-content.blue:after { border-bottom-color: $blue; }
    .list-article-content.green:after { border-bottom-color: $green; }
    .list-article-content.orange:after { border-bottom-color: $orange; }
    .list-article-content.red:after { border-bottom-color: $red; }
    .list-article-content.gray:after { border-bottom-color: $gray; }
    .list-article-content.black:after { border-bottom-color: $black; }

    .text { border-top: 2pt solid #fff; }
    .text:after, .text:before { bottom: 100%; left: 50%; } 
    .text:after { border-color: rgba(255, 255, 255, 0); border-width: 8pt; margin-left: -8pt; }
    .text:before { border-color: rgba(255, 255, 255, 0); border-bottom-color: #fff; border-width: 11pt; margin-left: -11pt; }
    .text.blue:after { border-bottom-color: $blue; }
    .text.green:after { border-bottom-color: $green; }
    .text.orange:after { border-bottom-color: $orange; }
    .text.red:after { border-bottom-color: $red; }
    .text.gray:after { border-bottom-color: $gray; }
    .text.black:after { border-bottom-color: $black; }
    .text.purple:after { border-bottom-color: $purple; }
    .text { bottom: 0; }
  }

  &.down {
    .list-article-content { border-bottom: 2.5pt solid #fff; }
    .list-article-content:after, .list-article-content:before { top: 100%; left: 50%; }
    .list-article-content:after { border-color: rgba(255, 255, 255, 0); border-width: 8pt; margin-left: -8pt; }
    .list-article-content:before { border-color: rgba(255, 255, 255, 0); border-top-color: #fff; border-width: 11pt; margin-left: -11pt; }
    .list-article-content.blue:after { border-top-color: $blue; }
    .list-article-content.green:after { border-top-color: $green; }
    .list-article-content.orange:after { border-top-color: $orange; }
    .list-article-content.red:after { border-top-color: $red; }
    .list-article-content.gray:after { border-top-color: $gray; }
    .list-article-content.black:after { border-top-color: $black; }
    .list-article-content { z-index: 2; }

    .text { border-bottom: 2.5pt solid #fff; }
    .text:after, .text:before { top: 100%; left: 50%; }
    .text:after { border-color: rgba(255, 255, 255, 0); border-width: 8pt; margin-left: -8pt; }
    .text:before { border-color: rgba(255, 255, 255, 0); border-top-color: #fff; border-width: 11pt; margin-left: -11pt; }
    .text.blue:after { border-top-color: $blue; }
    .text.green:after { border-top-color: $green; }
    .text.orange:after { border-top-color: $orange; }
    .text.red:after { border-top-color: $red; }
    .text.gray:after { border-top-color: $gray; }
    .text.black:after { border-top-color: $black; }
    .text.purple:after { border-top-color: $purple; }
    .text { z-index: 2; }
    .image {
      position: absolute;
      bottom: 0; left: 0; right: $gutter;
    }
  }

  &.right {
    .list-article-content { border-right: 2.5pt solid #fff; }
    .list-article-content:after, .list-article-content:before { left: 100%; top: 50%; }
    .list-article-content:after { border-color: rgba(255, 255, 255, 0); border-width: 8pt; margin-top: -8pt; }
    .list-article-content:before { border-color: rgba(255, 255, 255, 0); border-left-color: #fff; border-width: 11pt; margin-top: -11pt; }
    .list-article-content.blue:after { border-left-color: $blue; }
    .list-article-content.green:after { border-left-color: $green; }
    .list-article-content.orange:after { border-left-color: $orange; }
    .list-article-content.red:after { border-left-color: $red; }
    .list-article-content.gray:after { border-left-color: $gray; }
    .list-article-content.black:after { border-left-color: $black; }
  }

  &.left {
    .list-article-content { border-left: 2.5pt solid #fff; }
    .list-article-content:after, .list-article-content:before { right: 100%; top: 50%; }
    .list-article-content:after { border-color: rgba(255, 255, 255, 0); border-width: 8pt; margin-top: -8pt; }
    .list-article-content:before { border-color: rgba(255, 255, 255, 0); border-right-color: #fff; border-width: 11pt; margin-top: -11pt; }
    .list-article-content.blue:after { border-right-color: $blue; }
    .list-article-content.green:after { border-right-color: $green; }
    .list-article-content.orange:after { border-right-color: $orange; }
    .list-article-content.red:after { border-right-color: $red; }
    .list-article-content.gray:after { border-right-color: $gray; }
    .list-article-content.black:after { border-right-color: $black; }
  }
}
