.home
  .home-logo
  .home-btn-holder
     a(href='#', data-target='.home-overlay').home-btn-join.splash-modal Join
     a(href='#', data-target='.home-overlay-login').home-btn-login.splash-modal Login

   .home-overlay.splash-overlay
     .home-overlay-hdr Join eekoh
       .close-btn X
     .home-overlay-service.facebook: a(href='/auth/facebook') Sign in with Facebook
     .home-overlay-service.google: a(href='/auth/google') Sign in with Google
     .home-overlay-service.twitter: a(href='/auth/twitter') Sign in with Twitter
     .home-overlay-service.email.home-btn-join: a(href='#', data-target='.home-overlay-register').splash-modal Sign in with E-mail

   .home-overlay-register.splash-overlay
     .home-overlay-register-hdr Sign up with e-mail
       .close-btn X
     form(action='/register', method='post')
      input(type='hidden', name='_csrf', value=csrf)
      input#first_name(type="text", name="first_name", placeholder="First Name", required)
      input#last_name(type="text", name="last_name", placeholder="Last Name", required)
      input#email(type="email", name="email", placeholder="E-mail address", required)
      input#username(type="text", name="username", placeholder="Username (optional)")
      input#password(type="password", name="password", placeholder="Password (6 or more characters)", required)
      input#passwordagain(type="password", name="password_confirm", placeholder="Re-enter password", required)
      select#gender(name='gender', required)
       option(value='Male') Male
       option(value='Female') Female
      input#dob(name='dob', type='text', placeholder='Date of Birth (DD/MM/YYYY)', required)
      input#education(name='education', type='text', required, placeholder='Education')
      input#work(name='work', type='text', required, placeholder='Workplace')
      input#position(name='position', type='text', required, placeholder='Work position')
      //-input(type="text", id="location", name="location", placeholder="Location")
      //.
       .tree
        .tree-personalize
        label
        input(type='checkbox', name='checkbox', value='test')
        | Let eekoh personalize your experience.

      input(type="submit", value="Sign up").btn
      .register-terms
        | By creating an account, I accept eekoh's
        a(href='#').home-btn-login Terms and Policy

   .home-overlay-login.splash-overlay
     .home-overlay-register-hdr Login
       .close-btn X
     form(action='/login', method='post')
      input(type='hidden', name='_csrf', value=csrf)
      input(type="text", id="username", name="username", placeholder="E-mail/Username")
      input(type="password", id="password", name="password", placeholder="Password")
      button(type="submit", value="Sign up", class="btn") Login
     .register-terms
       a(href='#', data-target='.home-overlay-password').home-btn-password.splash-modal Forgot your password?

   .home-overlay-password.splash-overlay
     .home-overlay-register-hdr Forgot your password?
       .close-btn X
     input(type="text", id="email", name="email", placeholder="E-mail address")
     button(type="submit", value="Sign up", class="btn") Request new password

.welcome
  .hdr What is eekoh?
  .about
    .mission
      | <b>OUR MISSION:</b><br>
      | To provide a better way <br>
      | to experience content <br>
      | your care about.
    .logo
    .clear
    .about-text
      | Bacon ipsum dolor sit amet leberkas capicola ham ham hock, ball tip pork chop brisket pastrami frankfurter landjaeger chicken tongue venison corned beef meatloaf. Ham hock shank ground round filet mignon t-bone capicola. Ham pork loin fatback tri-tip, corned beef pork chop doner beef ribs chicken filet mignon biltong ground round kielbasa pancetta. Ham pancetta jerky fatback, strip steak boudin beef rump t-bone ribeye shankle. Pork ham hock pork loin pancetta. Kielbasa shankle tenderloin capicola strip steak ribeye, pig tri-tip cow swine. Shankle turducken ham turkey.
