.showhidestuff
  | TOGGLE
  a(href='#', class="show-profile") profile
  a(href='#', class="show-login") login
  a(href='#', class="show-articlepage") article page
  a(href='#', class="show-lumberyard") lumberyard
  a(href='#', class="show-notifications") notifications
  a(href='#', class="show-registration") registration 01
  a(href='#', class="show-registration2") registration 02
  a(href='#', class="show-registration3") registration 03
  a(href='#', class="show-inbox") inbox
  a(href='#', class="show-logintop") welcome + login top

.home
  .home-logo
  .home-btn-holder
     a(href='#', class="home-btn-join") Join
     a(href='#', class="home-btn-login") Login

   .home-overlay
     .home-overlay-hdr Join eekoh
       .close-btn X
     .home-overlay-service.facebook: a(href='/auth/facebook') Sign in with Facebook
     .home-overlay-service.google: a(href='/auth/google') Sign in with Google
     .home-overlay-service.twitter: a(href='/auth/twitter') Sign in with Twitter
     .home-overlay-service.email.home-btn-join Sign in with E-mail

   .home-overlay-register
     .home-overlay-register-hdr Sign up with e-mail
       .close-btn X
     form(action='/register', method='post')
      input(type='hidden', name='_csrf', value=csrf)
      input(type="text", id="firstname", name="first_name", placeholder="First Name", class="error")
      input(type="text", id="lastname", name="last_name", placeholder="Last Name")
      input(type="text", id="email", name="email", placeholder="E-mail address")
      input(type="password", id="password", name="password", placeholder="Password (6 or more characters)")
      input(type="password", id="passwordagain", name="password_confirm", placeholder="Re-enter password")
      select(name='gender', required)
       option(value='Male') Male
       option(value='Female') Female
      input(name='dob', type='text', placeholder='Date of Birth (DD/MM/YYYY)', required)
      input(name='education', type='text', required, placeholder='Education')
      input(name='work', type='text', required, placeholder='Workplace')
      input(name='position', type='text', required, placeholder='Work position')
      //-input(type="text", id="location", name="location", placeholder="Location")
     //.
      .tree
       .tree-personalize
       label
       input(type='checkbox', name='checkbox', value='test')
       | Let eekoh personalize your experience.

     button(type="submit", value="Sign up", class="btn") Sign up
     .register-terms
       | By creating an account, I accept eekoh's
       a(href='#', class="home-btn-login") Terms and Policy

   .home-overlay-login
     .home-overlay-register-hdr Login
       .close-btn X
     form(action='/login', method='post')
      input(type='hidden', name='_csrf', value=csrf)
      input(type="text", id="username", name="username", placeholder="E-mail/Username")
      input(type="password", id="password", name="password", placeholder="Password")
      button(type="submit", value="Sign up", class="btn") Login
     .register-terms
       a(href='#', class="home-btn-password") Forgot your password?

   .home-overlay-password
     .home-overlay-register-hdr Forgot your password?
       .close-btn X
     input(type="text", id="email", name="email", placeholder="E-mail address")
     button(type="submit", value="Sign up", class="btn") Request new password

.logintop
  .links
    a(href="#", class="about") What is eekoh?
    | &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
    a(href="#", class="show-login-overlay") Log In
  .top-login-overlay
   form(action='/login', method='post')
    input(type='hidden', name='_csrf', value=csrf)
    input(type="text", id="login-email", name="username", placeholder="E-mail/Username")
    input(type="password", id="login-password", name="password", placeholder="Password")
    .small
      input(type="checkbox", name="use-fullname", class="checkbox")
      | Keep me logged in |
      a(href="#") Forgot password?
    button(type="submit", value="Login", class="btn") Login

.welcome
  .hdr What is eekoh?
  .about
    .mission
      | <b>OUR MISSION:</b><br>
      | To provide a better way <br>
      | to experience content <br>
      | your care about.
    .logo
    .clear
    .about-text
      | Bacon ipsum dolor sit amet leberkas capicola ham ham hock, ball tip pork chop brisket pastrami frankfurter landjaeger chicken tongue venison corned beef meatloaf. Ham hock shank ground round filet mignon t-bone capicola. Ham pork loin fatback tri-tip, corned beef pork chop doner beef ribs chicken filet mignon biltong ground round kielbasa pancetta. Ham pancetta jerky fatback, strip steak boudin beef rump t-bone ribeye shankle. Pork ham hock pork loin pancetta. Kielbasa shankle tenderloin capicola strip steak ribeye, pig tri-tip cow swine. Shankle turducken ham turkey.
