.navbar
  a(href='/', class="brand-wrap")

.submenu
  .submenu-holder
    .registration-nav
      a(href="#", id="reg01" class="active") Step 1 - Complete your profile
      a(href="#", id="reg02") Step 2 - Choose your topics
      a(href="#", id="reg03") Step 3 - Add connections


