=clearfix 
  &:after 
    content: ""
    display: table
    clear: both

#freewall
  background: #FFF
  top: 0
  left: 0
  right: 0
  left: 0
  margin-left: 214px
  position: absolute
  margin-top: 74px

  .brick
    color: #FFF
    border-left: #FFF solid 1px
    border-right: #FFF solid 1px
    overflow: visible
    height: auto
    padding: 0
    @include clearfix

    &.one_one
      height: 200px !important
      width: 200px

      a
        .svg
          width: 100%
          height: 100px
          background-color: #FFF !important
          border: 1px solid #FFF

          &.brick-img
            -webkit-background-size: cover !important
            -moz-background-size: cover !important
            -o-background-size: cover !important
            background-size: cover !important

    &.two_one
      height: 200px !important
      width: 200px

      a
        .svg
          width: 100%
          min-height: 100px
          border: 1px solid #FFF

          &.brick-img
            -webkit-background-size: cover !important
            -moz-background-size: cover !important
            -o-background-size: cover !important
            background-size: cover !important

    &.three_one
      height: 200px !important
      width: 300px

      a
        .svg
          width: 100%
          min-height: 100px
          border: 1px solid #FFF

          &.brick-img
            -webkit-background-size: cover !important
            -moz-background-size: cover !important
            -o-background-size: cover !important
            background-size: cover !important

    &.two_two
      height: 300px !important
      width: 200px

      a
        .svg
          width: 100%
          min-height: 200px
          background-color: #FFF !important
          border: 1px solid #FFF

          &.brick-img
            -webkit-background-size: cover !important
            -moz-background-size: cover !important
            -o-background-size: cover !important
            background-size: cover !important

    .content
      padding: 8px
      width: 100%
      line-height: 100%
      display: block
      height: 100px
      position: relative
      border: 1px solid #FFF
      
      &.top
      
        &:before
          border: solid transparent
          content: " "
          height: 0
          width: 0
          position: absolute
          pointer-events: none
          bottom: 100%
          left: 50%
          border-color: rgba(255, 255, 255, 0)
          border-bottom-color: #fff
          border-width: 11pt
          margin-left: -11pt

        &:after
          border: solid transparent
          content: " "
          height: 0
          width: 0
          position: absolute
          pointer-events: none
          bottom: 100%
          left: 50%
          border-color: rgba(255, 255, 255, 0)
          border-width: 8pt
          margin-left: -8pt

      &.bottom

        &:before
          border: solid transparent
          content: " "
          height: 0
          width: 0
          position: absolute
          pointer-events: none
          top: 100%
          left: 50%
          border-color: rgba(255, 255, 255, 0)
          border-top-color: #fff
          border-width: 11pt
          margin-left: -11pt

        &:after
          border: solid transparent
          content: " "
          height: 0
          width: 0
          position: absolute
          pointer-events: none
          top: 100%
          left: 50%
          border-color: rgba(255, 255, 255, 0)
          border-width: 8pt
          margin-left: -8pt

      .title
        color: #FFFFFF
        font-weight: bold
        display: block
        display: -webkit-box
        font-size: 11pt
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        overflow: hidden
        text-overflow: ellipsis
        margin-bottom: 5px

      .description
        line-height: 110%
        color: #FFFFFF
        display: block
        display: -webkit-box
        font-size: 10pt
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        overflow: hidden
        text-overflow: ellipsis




.masonry-news
  background-color: #000000

.masonry-entertainment
  background-color: #d55153

.masonry-politics
  background-color: #655aa7

.masonry-sports
  background-color: #8cc63e

.masonry-edutech
  background-color: #5482c2

.masonry-business
  background-color: #aeaeae


.masonry-lifestyle  
  background-color: #e97e4a




.masonry-news 
  a
    .content
      &.top
        //border-top: 2px #FFF solid !important

        &:after
          border-bottom-color: #000000 !important

.masonry-entertainment 
  a
    .content
      &.top
        //border-top: 2px #FFF solid !important

        &:after
          border-bottom-color: #d55153 !important

.masonry-politics 
  a
    .content
      &.top
        //border-top: 2px #FFF solid !important

        &:after
          border-bottom-color: #655aa7 !important

.masonry-sports 
  a
    .content
      &.top
        //border-top: 2px #FFF solid !important

        &:after
          border-bottom-color: #8cc63e !important

.masonry-edutech 
  a
    .content
      &.top
        //border-top: 2px #FFF solid !important

        &:after
          border-bottom-color: #5482c2 !important

.masonry-business 
  a
    .content
      &.top
        //border-top: 2px #FFF solid !important

        &:after
          border-bottom-color: #aeaeae !important

.masonry-lifestyle 
  a
    .content
      &.top
        //border-top: 2px #FFF solid !important

        &:after
          border-bottom-color: #e97e4a !important





.masonry-news
  a
    .content
      &.bottom
        //border-bottom: 2px #FFF solid !important

        &:after
          border-top-color: #000000 !important

.masonry-entertainment 
  a
    .content
      &.bottom
        //border-bottom: 2px #FFF solid !important

        &:after
          border-top-color: #d55153 !important


.masonry-politics 
  a
    .content
      &.bottom
        //border-bottom: 2px #FFF solid !important

        &:after
          border-top-color: #655aa7 !important

.masonry-sports 
  a
    .content
      &.bottom
        //border-bottom: 2px #FFF solid !important

        &:after
          border-top-color: #8cc63e !important

.masonry-edutech 
  a
    .content
      &.bottom
        //border-bottom: 2px #FFF solid !important

        &:after
          border-top-color: #5482c2 !important

.masonry-business 
  a
    .content
      &.bottom
        //border-bottom: 2px #FFF solid !important

        &:after
          border-top-color: #aeaeae !important

.masonry-lifestyle 
  a
    .content
      &.bottom
        //border-bottom: 2px #FFF solid !important
        
        &:after
          border-top-color: #e97e4a !important
